*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);

    --Very_dark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
button{
    cursor: pointer;
}
.wrap{
    font-family: 'Kumbh Sans', sans-serif;
}
.wrap__nav{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8em;
    align-items: center;
    border-bottom: 1px solid black;
}
.menu{
    flex: 1 1 7%;
    margin-top: 0.5em;
}
.logo{
    flex: 1 1 65%;
    display: flex;
    justify-content: flex-start;
}
.carProducts{
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
}
.user{
    flex: 1 1 8%;
    display: flex;
    justify-content: flex-end;
}
.user img{
    max-width: 26px;
}
.list{
    z-index: 2;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20,20,20,0.6);
    font-size: 1.2rem;
    font-weight: 700;
}
.show{
    display: flex;
}
.list img{
    width: 20px;
    height: 20px;
    margin-bottom: 3em;
    margin-top: 1.1em;
}
.list ul{
    width: 75%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.8em;
}
.list ul li{
    width: 100%;
    height: 45px;
}
.wrap__app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideImagees{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.slideModal{
    width: 430px;
}
.btnSlide{
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0.7em 1em;
}
.btnSlideModal{
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0.7em 1em;
}
.btnMax{
    display: none;
    position: absolute;
    top:0.7em;
    right: 0.7em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btnMax i{
    font-size: 1.4rem;
    padding: 0.2em;
}
.prev{
    left: 10px;
}
.prevModal{
    left: -20px;
}
.next{
    right: 10px;
}
.nextModal{
    right: -20px;
}
.ctnImg{
    width: 100%;
    height: auto;
}
.ctnImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.listSlide{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listSlide img{
    border-radius: 8px;
    width: 70px;
}
dialog{
    position: absolute;
    border: none;
    min-width:100vw;
    min-height: 100vh;
    background: rgba(46, 45, 45, 0.8);
}
dialog::backdrop{
    background: rgba(46, 45, 45, 0.8);
}
.wrapModal{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.btnClose{
    align-self: flex-end;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: none;
    border-radius: 12px;
    background: rgba(46, 45, 45, 0.9);
    cursor: pointer;
}
.btnClose i{
    color: white;
    font-size: 1.5rem;

}
@media screen and (min-width:660px){
    .wrap__app{
        flex-direction: row;
        padding: 2em;
    }
    .slideImagees{
        max-width: 325px;
    }
    .ctnImg img{
        border-radius: 8px;
    }
    .btnSlide{
        display: none;
    }
    .listSlide{
        display: flex;
        margin-top: 1em;
    }
    .btnMax{
        display: block;
    }
}

@media screen and (min-width:769px){
    .menu{
        display: none;
    }
    .logo{
        order: 1;
        flex: 1 1 10%;
        max-width: 150px;
    }
    .list{
        order: 2;
    }
    .carProducts{
        flex: 1 1 5%;
        max-width: 40px;
        order: 3;
    }
    .user{
        flex: 1 1 5%;
        max-width: 50px;
        order: 4;
    }
    .user img{
        max-width: 40px;
    }
    .list{
        flex: 1 1 60%;
        height: auto;
        position: relative;
        display: flex;
        background-color: white;
    }
    .list img{
        display: none;
    }
    .list ul{
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .list ul li{
        display: flex;
        height: auto;
        justify-content: center;
    }
}

@media screen and (min-width:1024px){
    .list{
        flex: 1 1 60%;
    }
    .list ul{
        width: 60%;
        justify-content: space-around;
    }
    .list ul li{
        justify-content: center;
    }
}