*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Orange_shadow:rgba(255,125,26,0.16);
    --Pale_orange: hsl(25, 100%, 94%);

    --Very_dark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
button{
    cursor: pointer;
}
.wrap{
    font-family: 'Kumbh Sans', sans-serif;
}
.wrap__nav{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8em;
    align-items: center;
    border-bottom: 1px solid black;
}
.menu{
    flex: 1 1 7%;
    margin-top: 0.5em;
}
.logo{
    flex: 1 1 65%;
    display: flex;
    justify-content: flex-start;
}
.carProducts{
    cursor: pointer;
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.carProducts .count{
    display: none;
    position: absolute;
    top: -10px;
    right:0;
    width: 23px;
    height: 17px;
    background: var(--Orange);
    border-radius: 5px;
}
.showCount{
    display: flex !important;
}
.user{
    flex: 1 1 8%;
    display: flex;
    justify-content: flex-end;
}
.user img{
    max-width: 26px;
}
.list{
    z-index: 2;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20,20,20,0.6);
    font-size: 1.2rem;
    font-weight: 700;
}
.show{
    display: flex !important;
}
.list img{
    width: 20px;
    height: 20px;
    margin-bottom: 3em;
    margin-top: 1.1em;
}
.list ul{
    width: 75%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0.8em;
}
.list ul li{
    width: 100%;
    height: 45px;
}
.wrap__app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slideImagees{
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.slideModal{
    width: 350px;
}
.btnSlide{
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0.7em 1em;
}
.btnSlideModal{
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0.7em 1em;
}
.btnMax{
    display: none;
    position: absolute;
    top:0.7em;
    right: 0.7em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btnMax i{
    font-size: 1.4rem;
    padding: 0.2em;
}
.prev{
    left: 10px;
}
.prevModal{
    left: -20px;
}
.next{
    right: 10px;
}
.nextModal{
    right: -20px;
}
.ctnImg{
    width: 100%;
    height: auto;
}
.ctnImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.listSlide{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listSlide img{
    border-radius: 8px;
    width: 70px;
}
dialog{
    position: absolute;
    border: none;
    min-width:100vw;
    min-height: 100vh;
    background: rgba(46, 45, 45, 0.8);
}
dialog::backdrop{
    background: rgba(46, 45, 45, 0.8);
}
.wrapModal{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.btnClose{
    align-self: flex-end;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: none;
    border-radius: 12px;
    background: rgba(46, 45, 45, 0.9);
    cursor: pointer;
}
.btnClose i{
    color: white;
    font-size: 1.5rem;

}
.infoProduct{
    width: 100%;
    padding: 1.5em;
}
.infoTitles{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.infoTitles span{
    color: var(--Orange);
    font-weight: bold;
}
.infoTitles h3{
    font-size: 1.4rem;
}
.infoTitles p{
    text-align: justify;
    line-height: 1.4em;
    font-size: 0.9rem;
}
.infoPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.8em;
}
.infoPrice .priceProduct{
    flex: 1 1 15%;
    font-size: 1.6rem;
}
.infoPrice .discount{
    flex:1 1 15%;
    text-align: center;
    background-color: var(--Pale_orange);
    border-radius: 6px;
    margin-left: 0.5em;
    color: var(--Orange);
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.4em;
}
.infoPrice .priceDiscount{
    flex:1 1 55%;
    text-align: end;
    color: var(--Grayish_blue);
    font-weight: bold;
    text-decoration: line-through;
}
.payActions{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
    gap: 0.6em;
}
.btnCount{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
}
.btnCount .btnOperations{
    background-color: var(--Light_grayish_blue);
    flex: 1 1 45%;
    border: none;
    padding: 1em;
    color: var(--Orange);
    font-weight: bold;
}
.plus{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.minus{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.count{
    flex: 1 1 10%;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--Light_grayish_blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnPayment{
    flex: 1 1 100%;
    padding: 1em;
    border: none;
    border-radius: 7px;
    background-color: var(--Orange);
    color: white;
    font-weight: bold;
    box-shadow: var(--Orange_shadow) 0px 3px 6px, var(--Orange_shadow) 0px 3px 6px;
}
.btnPayment i{
    margin-right: 0.5em;
}
.cartContent{
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 45px;
    right: -38px;
    width: 310px;
    border-radius: 10px;
    border: 1px solid var(--Grayish_blue);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartContent__title{
    padding: 1em;
    border-bottom: 1px solid var(--Grayish_blue);
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
.cartContent__content{
    min-height:150px;
    padding: 1em;
    border-radius: 10px;
}
.productContentCart{
    margin-bottom: 0.7em;
}
.btnCheckout{
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--Orange);
    color: white;
}
.noContentCart{
    width: 100%;
    min-height:150px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapProductCart{
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapProductCart img{
    width: 45px;
    border-radius: 3px;
}
.infoProductCart{
    width: 100%;
    margin-left: 0.5rem;
}
.infoProductCart .nameProduct{
    font-size: 0.9em;
    width: 100%;
}
.infoProductCart .priceProduct{
    font-size: 0.9em;
    width: 100%;
}
.wrapProductCart .btnDelete{
    border: none;
    background-color: white;
}
.wrapProductCart .btnDelete i{
    font-size: 1rem;
    color: var(--Grayish_blue);
}
@media screen and (min-width:426px){
    .infoProduct{
        max-width: 445px;
    }
    .btnCount{
        flex: 1 1 40%;
    }
    .btnPayment{
        flex: 1 1 50%;
    }
    .infoTitles p{
        font-size: 1.1rem;
    }
    .infoPrice .priceProduct{
        font-size: 1.8rem;
    }
    .infoPrice .discount{
        font-size: 1.1rem;
    }
    .infoPrice .priceDiscount{
        font-size: 1.1rem;
    }
}
@media screen and (min-width:660px){
    .wrap__app{
        flex-direction: row;
        justify-content: center;
        padding: 2em;
    }
    .slideImagees{
        max-width: 325px;
    }
    .ctnImg img{
        border-radius: 8px;
    }
    .btnSlide{
        display: none;
    }
    .listSlide{
        display: flex;
        margin-top: 1em;
    }
    .btnMax{
        display: block;
    }
    .infoPrice .priceProduct{
        max-width: 70px;
    }
    .infoPrice .discount{
        max-width: 100px;
    }
    .infoPrice .priceDiscount{
        text-align: start;
        min-width: 250px;
    }
}

@media screen and (min-width:769px){
    .menu{
        display: none;
    }
    .logo{
        order: 1;
        flex: 1 1 10%;
        max-width: 150px;
    }
    .list{
        order: 2;
    }
    .carProducts{
        flex: 1 1 5%;
        max-width: 40px;
        order: 3;
    }
    .user{
        flex: 1 1 5%;
        max-width: 50px;
        order: 4;
    }
    .user img{
        max-width: 40px;
    }
    .list{
        flex: 1 1 60%;
        height: auto;
        position: relative;
        display: flex;
        background-color: white;
    }
    .list img{
        display: none;
    }
    .list ul{
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .list ul li{
        display: flex;
        height: auto;
        justify-content: center;
    }
    .infoTitles span{
        font-size: 1.2rem;
    }
    .infoTitles h3{
        font-size: 1.9rem;
    }
    .infoTitles p{
        font-size: 1.2rem;
        line-height: 1.2em;
    }
    .infoPrice .priceProduct{
        font-size: 1.8rem;
    }
    .infoPrice .discount{
        font-size: 1rem;
    }
    .infoPrice .priceDiscount{
        font-size: 1.3rem;
        min-width: 350px;
    }
    .btnCount .btnOperations{
        padding: 1.3em;
    }
}

@media screen and (min-width:1025px){
    .list{
        flex: 1 1 60%;
    }
    .list ul{
        width: 60%;
        justify-content: space-around;
    }
    .list ul li{
        justify-content: center;
    }
    .wrap__app{
        gap: 4rem;
        margin-top: 2rem;
    }
    .wrapModal{
        margin-top: 2.5rem;
    }
    .slideImagees{
        max-width: 350px;
    }
    .infoProduct{
        max-width: 400px;
        padding: 0;
    }
    .slideModal{
        width: 380px;
    }
    .infoTitles span{
        font-size: 1.4rem;
    }
    .infoTitles h3{
        font-size: 2.1rem;
    }
    .infoTitles p{
        font-size: 1.4rem;
        line-height: 1.2em;
    }
    .btnCount .btnOperations{
        padding: 1.4em;
    }
}